body{
	background-color: #c42f02;
}
img{
	width: 400px;
	margin-left: 550px;
	border: solid;
	border-color: white;
	border-width: 5px;
	padding: 60px;
	justify-content: center
}

h1{
	font-size: 75px;
	text-align: center
}
h1{
	color: white
}
h2{
	font-size: 50px;
	text-align: center
}
h2{
	color: white
}
p{ 
	font-size: 40px;
	text-align: center;
	color:white
}
ul{
	font-size: 30px
}
ol{
	font-size: 30px
}
a{ 
	font-size: 30px
}
a{
	color: black;
}
li{
	color: white
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c42f02;

 }

.menu ul li {
  float: left;

}

.menu ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 67px;
  text-decoration: none;
  
}

.menu ul li a:hover {

  background-color: black;

}
.active{
	background-color: #ed6c02
}

iframe {
	justify-content: center;
	width: 1000px
}

